/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border-color:3px solid #201f1f;
    
  }

  
  header {
    
    background-image: url(../IMAGES/abstract-timekeeper.png);
    background-size:cover;
    background-position:top;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  header a{ 
    padding: 8px;
    border-radius: 4px;
  }

  header a:hover{ 
    background-color: #494949;

  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 1px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 20px;
  }
  
  /* Estilos específicos */
  #sobre-mi {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #f4f4f4;

    border-bottom:3px solid #f4f4f4;

  }

  #sobre-mi img{
    box-shadow: #dbd5d5 7px 7px;
    border: 3px solid #000000;
  }

  #CV{
    background-color: #f4f4f4; /* Verde */
    box-shadow: #dbd5d5 5px 5px;
    border: 3px solid #000000;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 0px;
    transition: background-color 0.3s ease;
    width: 150px;
  }

  #CV a{
    text-decoration: none;
    display: block;

  }

  #CV:hover{
    background-color: #000000; /* Verde más oscuro */
    color: #f4f4f4;
    box-shadow: #000000 5px 5px;
    border: 3px solid #dbd5d5;
  }


  
  #proyectos {
    background-color: #000000;
    color:#f4f4f4 ;
  }
  
  .proyecto {
    border: 3px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;

    /*border-radius: 5px;*/
    box-shadow: #dbd5d5 7px 7px;
 
  }

  /*
  .proyecto:hover {
    border: 3px solid #000000;
    box-shadow: #000000 5px 5px;

    background-color: #dbd5d5;
    color: #000000;
 
  }
  */
  
  .proyecto h3 {
    margin-top: 0;
  }
  
  #galeria {
    padding: 20px;
    text-align: center;
    
    background-image: url(../IMAGES/parabolic-rectangleThin.png);
    background-size:cover;
    background-position:center;
  }
  
  .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .galeria img {
    width: 200px; /* Ajusta el ancho de las imágenes según sea necesario */
    margin: 10px;
    box-shadow: #000000 5px 5px;
    border: 3px solid #dbd5d5;
  }

  .galeria img:hover {
    margin: 10px;
    box-shadow: #dbd5d5 5px 5px;
    border: 3px solid #000000;
  }

  #footerredes{
    width: auto;
    height: 15%;
    margin-left: 46%;

    text-align: center;

  }
  #footerredes a{
   margin-bottom: 30px;
    height: auto;
    width: 40px;
    float: left;

    border-radius: 5px;
  }

  #footerredes a:hover{
background-color: #494949;
   }

  .fa {
    margin: 12px;
    float: left;
}
  
  footer {
    background-color:  #000000;

    background-image: url(../IMAGES/abstract-timekeeper.png);
    background-size:cover;
    background-position:bottom;
    color: #fff;
    padding: 10px;
    text-align: center;

  }

  footer ul{
list-style:none;
  }
  footer li{
font-size: large;
    }

  #io{
    width: 25%;
    height: 25%;
    margin-right: 20px;
  }







  .seccionGal {
    flex: 0 0 30%; /* Cada sección ocupa el 30% del contenedor */
    margin: 10px;
  }
  
  .seccionGal img {
    width: 100%; /* Las imágenes llenan el ancho de la sección */
  }






  #back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000000;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 1px;
    cursor: pointer;
    display: none; /* Oculto por defecto */
    width: 75px;
}

#back-to-top:hover {
    background-color: white;
    color: #000000;
    border: 1px solid #000000;
}

  



  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .ubuntu-sans-mono {
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  


  